.cart-container{
    margin: 3rem auto;
    width: 80%;
    display: flex;
    flex-direction: column;

    /* grid-template-columns: repeat(2,1fr); */
    gap: 20px;
}
.cart-item{
    display: flex;
    align-items: center;
    gap: 20px;
    width: 50%;
    justify-content: space-around;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 16px;
    background-color:antiquewhite;
    padding: 10px 0px;
}
h1{
    text-align: center;
    color: blueviolet;
}
#cart-count{
    color: rgb(245, 95, 95);
}